* {
  box-sizing: border-box;
}
body {
  background: #FFFFFF;
  font-family: 'Raleway', sans-serif;
  margin: 50px;
}
.main-header {
  color: #2F4F4F; font-size: 50px;
}
.second-header {
  font-weight: 100; color: #669999;
}
p {
  color: #404040; font-weight: bold; font-weight: lighter;
  font-size: 18px;
}
img {
  width: 40%;
  border: 2px solid #9d9e9e;
}
.about-paragraph {
  margin: auto;
  width: 50%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0
}
li {
  display: inline;
  padding: 10px 25px 10px 25px;
}
footer {
  display: flex;
  justify-content: center;
  margin-top: 65px;
}
h2 {
  font-weight: lighter;
}
.kevin-picture {
  border: none;
  width: 60%;
  margin: auto;
  display: flex;
}
hr {
  border-top: 1px solid #d3d3d3;
  margin-top: 65px;
  margin-bottom: 65px;
}
nav {
  display: flex;
  justify-content: center;
  margin-top: 65px;
}
nav a {
  text-decoration: none;
}
a {
  color: #404040;
}
a:visited {
  color: #404040;
}
a:hover {
  color: #d3d3d5;
}
.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fas {
  color: #669999;
}
.grow {
  transition: all .5s;
}
.grow:hover {
  width: 42%;
}
.hello {
  font-weight: lighter;
  transition: all .25s;
  color: black;
  background-color: white;
}
.hello:hover {
  background-color: #669999;
  color: #ff9999;
}
ol {
  display: flex;
  justify-content: center;
}
.list {
  display: flex;
  flex-direction: column;
}
ol li:nth-child(odd) {
  color: #ff9999;
}
ol li:nth-child(even) {
  color: #669999;
}
article p:nth-child(4) {
  display: flex;
  justify-content: center;
}

/*css styling for contac form*/
form {
  font-size: 18px;
  width: 75%;
}
textarea {
  vertical-align: top;
}
label {
  display: block;
  line-height: 3rem;
}
input[type=text],
input[type=email],
textarea {
  border-radius: 5px;
}
input[type=submit] {
  background-color: #669999;
  color: white;
}
.form-fields {
  padding-right: 1rem;
}
/*.select {
  padding-left: .5rem;
}*/
